body
{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
.hero
{
    text-align: center;
    padding: 96px 16px;
    background: url(../images/image1.png) center / cover;
    border-radius: 10px;
    border: 1px solid #333;
    max-width: 1770px;
    width: 100%;
    min-height: 820px;
}
.navigation
{
    background-color: #5474FD  ;
    max-width: 1773px;
    width: 100%;
    min-height: 83px;
}
.container-hero_content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    justify-content: space-around;
}
.container_navigation_inner
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
    
}
.navigation_menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 525px;
    width: 100%;
    list-style: none;  
    
}
.logo
{
    max-width: 372px;
    width: 100%;
    min-height: 76px;
    color: #ffffff;
   
}
.search-form
{
    max-width: 653px;
    width: 100%;
    min-height: 63px;
    align-items: center;
}
#search {
    max-width: 503px;
    width: 100%;
    min-height: 63px;

}
.search-btn{
     max-width: 144px;
    width: 100%;
    min-height: 63px;
    background-color: #5474FD  ;
    color: #ffffff  ;
}
.Scroll-down
{
    color: #ffffff;
}
.navigation_menu
{
    color: #5474FD;
}
.navigation_menu a
{
    color: #ffffff;
}
.burger {
    display: none;
    color: #e0e0e0;
    font-size: 28px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}
@media screen and (max-width: 600px) {

    


    nav {
        position: relative;
        flex-wrap: wrap;
    }

    .burger {
        display: block;
    }

    .navigation_menu {
        display: none;
        bottom: 100%;
        position: absolute;
        max-height: none ;  
        background-color: #5474FD;   
        align-items: center ; 
        
    }
    #menu-toggle:checked ~ .navigation_menu {
        display: flex;
        flex-direction: column ;
         gap: 15px;
         padding: 15px 0;
    }


    .burger:hover {
        color: #511ab7;
    }
}

.why-us{
    min-height: 685px;
    display: flex;
    align-items: center;
    background: url(../images/why.png) center / cover no-repeat;
}

.why-us_inner{
    display: grid;
    align-items: center;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
}

.why-us_text{
    h1{
        font-family: Aleo;
        font-size: 34px;
        font-weight: 300;
        
    }

    p{
        max-width: 560px;
        font-size: 14px;
        max-height: 158px;
        
        
    }
}

.button{
    margin-top: 45px;
}

.why-is_images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    object-fit: cover;
    transition:transform 0.3s ease;
}


